@import './reset.css';
@import './base.css';

#app {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
  /* padding: 2rem; */

  font-weight: normal;
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate270 {
  transform: rotate(270deg);
}
